{% extends "layouts/app.twig" %}

{% block title %}
    123
{% endblock %}

{% block content %}
    <h2>欢迎来到首页12121</h2>
    <p>这是首页的具体内容，这里可以添加更多的文本、图片、链接等。</p>
    {% include "welcome.twig" %}
{% endblock %}

